{% extends "layout.html" %}

{% block title %}
    Main page
{% endblock %}
{% block main %}
{% if session["user_id"] %}
<form action="/" method="get" class="p-4">
    <select name="folder_id" onchange="this.form.submit()" class="form-select">
        <option value="">All folders</option>

        {% for folder in folders %}
            <option value="{{ folder.id }}"
                {% if selected_folder == folder.id|string %}selected{% endif %}>
                {{ folder.name }}
            </option>
        {% endfor %}
    </select>
</form>
<div class="row g-4">
    {% for anime in animes %}
        <div class="col-md-3">
            <div class="card h-100">
                <form action="/change_info_about_anime" method="post" class="p-1">
                    <input type="hidden" name="anime_id" value="{{ anime.id }}">
                    <input type="hidden" name="folder_id" value="{{ selected_folder }}">
                    <div class="d-flex justify-content-center align-items-center gap-1 p-1 bg-success">
                        <select name = "status" class="form-select mx-auto w-auto" onchange="this.form.submit()">
                            <option value="">Chose status</option>
                            {%for status in statuses%}
                            <option value="{{status}}" {% if anime.status == status %}selected{% endif %}>{{status}}</option>
                            {%endfor%}
                        </select>
                        <select name="rating" class="form-select mx-auto w-auto" onchange="this.form.submit()">
                            <option value="">Chose rating</option>
                            {% for rating in range(1, 11) %}
                                <option value="{{ rating }}" {% if anime.rating|string == rating|string %}selected{% endif %}>{{ rating }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
                <img src="{{ anime.image_url }}" class="card-img-top" alt="{{ anime.Title }}">
                <div class="card-body d-flex flex-column">
                    <a href="/anime/{{anime.id}}" class="text-decoration-none">
                        <h5 class="card-title">{{ anime.Title }}</h5>
                    </a>
                    <form action="/delete_anime_from_folder" method="post" class="p-3 mt-auto">
                        <input type="hidden" name="selected_folder" value="{{ selected_folder }}">
                        <input type="hidden" name="anime_id" value="{{ anime.id }}">
                        <div class="text-center">
                            <button class="btn btn-danger" onclick="return confirm('Delete this anime from folder?')" type="submit">Delete anime</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="d-flex justify-content-center align-items-center gap-5 p-4">
    <form action="/add_folder" method="post" class="d-flex align-items-center gap-2">
        <div>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="folder_name" placeholder="Folder name" type="text">
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Add folder</button>
        </div>
    </form>
    <form action="/delete_folder" method="post" class="d-flex align-items-center gap-2">
        <select name="folder_id" class="form-select">
            <option value="">Select folder</option>
            {% for folder in folders %}
            <option value="{{ folder.id }}"> {{ folder.name }} </option>
            {% endfor %}
        </select>
        <div class="text-center">
            <button class="btn btn-danger text-nowrap" type="submit" onclick="return confirm('Delete this folder?')">Delete folder</button>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}
